{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harry Fitness</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


<body>
    <section class="vh-100 bg-secondary " style="height: 100vh;" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body text-center">
                  <form action="", method="post">
                    {% csrf_token %}
                  <div class="md-2 mt-md-2 pb-5">
                    <h2 class="fw-bold text-uppercase">Login</h2>
                    <p class="text-white-50 mb-3">
                      <div class="text-white-50 mb-3"> 
                        {% for m in messages %}
                        <h5 class="text-danger">{{ m }}</h5>
                        {% endfor %}
                      </div>
                    </p>
                    <form action="", method="post">
                    <div class="form-outline form-white mb-4">
                      <input type="text" name="username" class="form-control form-control-lg" placeholder='Username' />
                      <label class="form-label" for="typeEmailX"></label>
                    </div>
      
                    <div class="form-outline form-white-1">
                      <input type="password" name="password" class="form-control form-control-lg" placeholder='password' />
                      <label class="form-label" for="typePasswordX"></label>
                    </div>
      
                    <p class="small mb-2 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
      
                    <input type="Submit" class="btn btn-info px-5" href=""></input>
                  </form>
                  </div>
                  <div>
                    <a type="button" class="btn btn-info px-5" href="{% url 'register' %}">Sign Up</a>
                    <a type="button" class="btn btn-info" href="{% url 'otp_login' %}">For OTP Login</a>
                  </div>
            
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>

</html>