# def add_cart(request,product_id):
#     current_user = request.user
#     product = Products.objects.get(id= product_id) #Getting product
#     if current_user.is_authenticated:   
#         try:
#             cart_item = CartItem.objects.get(product=product, user=current_user)
#             cart_item.quantity += 1 #Increase existing obj plus 1
#             cart_item.save()
#             messages.success(request, 'Product added to cart')
#         except CartItem.DoesNotExist:
#             cart_item = CartItem.objects.create(
#                 product=product,
#                 quantity = 1,
#                 user=current_user,
#             )
#             cart_item.save()
#             messages.success(request, 'Product added to cart')
#         return redirect(request.META['HTTP_REFERER'])
        
#     else:
#         try:
#             cart = Cart.objects.get(cart_id=_cart_id(request)) #Cart_id present in session of guest user
#         except Cart.DoesNotExist:
#             cart = Cart.objects.create(
#                 cart_id = _cart_id(request)
#             )
#         cart.save()
#         messages.success(request, 'Product added to cart')

#         try:
#             cart_item = CartItem.objects.get(product=product, cart=cart)
#             cart_item.quantity += 1 #Increase existing obj plus 1
#             cart_item.save()
#             messages.success(request, 'Product added to cart')
#         except CartItem.DoesNotExist:
#             cart_item = CartItem.objects.create(
#                 product=product,
#                 quantity = 1,
#                 cart=cart,
#             )
#             cart_item.save()
#             messages.success(request, 'Product added to cart')
#         return redirect(request.META['HTTP_REFERER'])


        # login function

try:
                    cart = Cart.objects.get(cart_id = _cart_id(request))
                    guest_cart_item = CartItem.objects.filter(cart=cart)                   
                    user_cart_item=CartItem.objects.filter(user=user)
                    if user_cart_item:
                        if guest_cart_item:
                            for g_item in guest_cart_item:
                                products =CartItem.objects.filter(user=user,product=g_item.product)
                                if products:
                                    for product in products:
                                         product.save()
                                        g_item.delete()
                                else:
                                    g_item.user=user
                                    g_item.save()
                    else:
                        for g_item in guest_cart_item:
                            g_item.user=user
                            g_item.save()                   

except:
    pass